.*~

.nvim.lua

/etc/portage/savedconfig

home/paveloom/.config/emacs/.emacs.desktop*
home/paveloom/.config/emacs/custom.el
home/paveloom/.config/emacs/eln-cache
home/paveloom/.config/emacs/projects
home/paveloom/.config/emacs/tree-sitter

home/paveloom/.config/fish/fish_variables

home/paveloom/.config/halloy/password

home/paveloom/.config/helix/external-snippets
