[Unit]
Description=Fast and local neural text-to-speech engine (using model `%i`)
After=network.target

[Service]
ExecStart=python3 -m piper.http_server --data-dir=/usr/share/piper-voices -m %i
Restart=on-failure

[Install]
WantedBy=default.target
